// https://eslint.org/docs/user-guide/configuring
{
  "root": true,
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["@nuxtjs", "eslint:recommended", "prettier/vue", "plugin:prettier/recommended", "plugin:nuxt/recommended"],
  "rules": {
    "space-before-function-paren": "off",
    "no-unused-vars": "off",
    "prefer-const": "warn",
    "no-extra-parens": "warn"
  }
}
